@charset "utf-8";

.star-chk{background-image: url('/public/img/admin/ico-star-base.png'); background-position: center; background-repeat: no-repeat; opacity: 0.5; cursor: pointer;}
.star-chk.on{background-image: url('/public/img/admin/ico-star-fill.png');}
.star-chk:hover{opacity: 1;}

.ql-editor{
    min-height: 400px;
    margin-bottom: 20px;
  }

.iw_inner {
    padding: 10px;
}
.iw_inner h3 {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    margin: 10px 0;
}
.iw_inner p {
    font-size: 12px;
    color: #333;
}
.iw_inner img.thumb {
    float: right;
    border: solid 1px #aeaeae;
}


