@media only screen and (max-width: 980px) {
  header .all-menu {
    display: none;
  }
  header .pc-menu {
    display: none;
  }
  header .mo-menu {
    display: block;
  }

  .tb-block {
    display: none;
  }
  .m-block {
    display: block;
  }

  .main .con6 {
    height: 360px;
  }
  .main .con8 {
    padding: 90px 0;
    background-size: cover;
  }
  .main .con8 .wrap {
    flex-wrap: wrap;
  }
  .main .con8 .wrap .txt-area {
    width: 100%;
  }
  .main .con8 .main-tit {
    margin-bottom: 65px;
    word-break: keep-all;
  }
  /* .main .con8 ul{margin-top: 65px;} */
  .main .con8 ul li {
    width: 155px;
    height: 155px;
  }
  .main .con8 ul li i {
    width: 54px;
    height: 54px;
  }
  .main .con8 ul li:first-child i {
    background-size: 45px auto;
  }
  .main .con8 ul li:first-child + li i {
    background-size: 45px auto;
  }

  .sub.sub01-1 .company-infor .img {
    width: 100%;
    padding-bottom: 100%;
  }
  .sub.sub01-1 .company-infor .swiper {
    margin: 0;
  }

  .sub.sub02-2 .system ul {
    flex-wrap: wrap;
  }
  .sub.sub02-2 .system ul li {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    line-height: 90px;
  }
  .sub.sub02-2 .system ul li:first-child {
    margin-top: 0;
  }
  .sub.sub02-2 .system ul li:before {
    left: 50%;
    margin-left: -6px;
    width: 12px;
    background-size: 12px auto;
    height: 21px;
    transform: rotate(90deg);
    margin-top: 0;
    top: -25px;
  }
  .sub.sub02-2 .system ul li img {
    max-width: 100%;
    padding: 0 10px;
  }

  .sub.sub05 .ideal-list li {
    padding: 40px 38px 48px;
    border-radius: 15px;
  }
  .sub.sub05 .fire-img {
    height: 0px;
    border-radius: 15px;
    position: relative;
    padding-bottom: 56.25%;
  }
  .sub.sub05 .fire-img .bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
  }
  .sub.sub05 .welfare {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}

@media only screen and (max-width: 780px) {
  .pc-img {
    display: none;
  }
  .mo-img {
    display: block;
  }

  .main {
    overflow: hidden;
    width: 100%;
  }
  .main .main-visual:before {
    background: url('/public/img/main/main-m-cover.png') center no-repeat;
    background-size: cover;
  }
  .main .main-visual .search {
    width: 100%;
  }
  .main .video-wrap {
    left: initial;
  }
  .main .con1 {
    background-position-x: calc(100% - 27%);
  }
  .main .con1 ul li {
    margin-top: 50px;
    width: 100%;
  }
  .main .con1 ul li:first-child {
    margin-top: 70px;
  }
  .main .con1 a {
    padding-right: 60px;
    width: 100%;
  }

  .main .con2 {
    padding-left: 20px;
    padding-right: 20px;
    background: #fff;
  }

  .main .con3 .swiper-slide .slide-bg {
    background-position-y: 100% !important;
  }
  .main .con3 .slide1 .slide-bg {
    animation: mcarani 4s infinite alternate;
    background-position-x: calc(100% - 100%);
  }
  .main .con3 .slide2 .slide-bg {
    background-size: 137% auto !important;
    background-position-x: -19% !important;
    background-position-y: 69% !important;
  }
  .main .con3 .slide3 .slide-bg {
    background-size: 94% auto !important;
    background-position-x: 670% !important;
    background-position-y: 62% !important;
  }
  .main .con3 .slide2 .cloud1 img,
  .main .con3 .slide2 .cloud2 img,
  .main .con3 .slide2 .cloud3 img {
    width: 100%;
  }
  .main .con3 .slide2 .cloud1 {
    width: 30%;
    top: 59%;
    right: 7%;
  }
  .main .con3 .slide2 .cloud2 {
    width: 30%;
    top: 64%;
    right: -17%;
  }
  .main .con3 .slide2 .cloud3 {
    width: 30%;
    top: 67%;
    right: 23%;
  }
  .main .con3 .slide3 .cloud1 img,
  .main .con3 .slide3 .cloud2 img,
  .main .con3 .slide3 .cloud1 img,
  .main .con3 .air img {
    width: 100%;
  }
  .main .con3 .slide3 .cloud1 {
    width: 7%;
    top: 51%;
    right: 41%;
  }
  .main .con3 .slide3 .cloud2 {
    width: 7%;
    top: 72%;
    display: none;
  }
  .main .con3 .slide3 .cloud3 {
    width: 7%;
    top: 82%;
    right: 33%;
    display: none;
  }
  .main .con3 .air {
    width: 11%;
    top: 68%;
    right: -8%;
    display: none;
  }
  .main .con3 .car-wrap {
    right: -100%;
    top: 37%;
  }

  /* @keyframes mcarani{
    0%{background: #EC6800 url('/public/img/main/car.png') bottom no-repeat; background-size: 110% auto; background-position-x:calc(100% - 100%)}
    25%{background: #EC6800 url('/public/img/main/car-on.png') bottom no-repeat; background-size: 110% auto; background-position-x:calc(100% - 100%)}
    75%{background: #EC6800 url('/public/img/main/car-1.png') bottom no-repeat; background-size: 110% auto; background-position-x:calc(100% - 100%)}
    100%{background: #EC6800 url('/public/img/main/car-2.png') bottom no-repeat; background-size: 110% auto; background-position-x:calc(100% - 100%)}
  } */

  .main .con4 {
    padding-bottom: 80px;
  }
  .main .con4 .pc-show {
    display: none;
  }
  .main .con4 .mobile-show {
    display: block;
  }
  .main .con4 .mobile-show .right {
    display: flex;
    flex-wrap: wrap;
  }
  .main .con4 .mobile-show .right > div {
    width: 63%;
  }
  /* .main .con4 .right .small{white-space: pre;} */
  .main .con4 .mobile-show .right > div:first-child {
    margin-top: 0;
  }
  .main .con4 .mobile-show .right > div:nth-child(odd) {
    margin-left: auto;
  }
  .main .con4 .mobile-show .right > div:nth-child(even) {
    margin-right: auto;
    left: 0;
  }

  .main .con5 .swiper {
    margin-right: 20px;
    margin-left: 20px;
  }
  .main .con5 .swiper-slide.swiper-slide-active .img {
    transform: scale(1);
  }
  .main .con5 .swiper-slide > div.txt {
    margin-top: 50px;
  }
  .main .con5 .control {
    left: initial;
    right: 0;
    margin-left: 0;
    top: 67%;
  }

  .main .con6 video {
    width: 178%;
  }

  .main .con7 ul {
    flex-wrap: wrap;
  }
  .main .con7 ul li {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    flex: auto;
  }
  .main .con7 ul li:first-child {
    margin-top: 0;
  }

  /* popup */
  .main_pop {
    text-align: center;
    left: 5% !important;
    right: 5% !important;
  }
  .main_pop .text {
    height: 40px;
  }
  .main_pop .text button {
    font-size: 14px;
  }

  .sub .sub-top .path {
    position: absolute;
    right: 20px;
    bottom: 0;
  }
  .pc-block {
    display: none;
  }

  .sub.sub01-1 .company-infor .swiper {
    width: 100%;
  }
  .sub.sub01-1 .company-infor .swiper-pointer-events {
    width: 100%;
  }
  .sub.sub01-1 .company-infor .img {
    border-radius: 20px;
  }
  .sub.sub01-1 .company-infor .txt {
    width: 100%;
    margin-left: 0;
  }

  .sub.sub01-2 .core-value ul {
    flex-wrap: wrap;
  }
  .sub.sub01-2 .core-value ul li {
    flex: none;
    width: 49%;
    margin-left: 2%;
    margin-bottom: 30px;
  }
  .sub.sub01-2 .core-value ul li:nth-child(odd) {
    margin-left: 0%;
  }

  .sub.sub01-3 .t-wrap .time-list .img img {
    width: 100%;
    max-width: auto;
  }

  .sub .ci-bi .represt ul.color-notice {
    flex-wrap: wrap;
  }
  .sub .ci-bi .represt ul.color-notice li {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }
  .sub .ci-bi .represt ul.color-notice li:first-child {
    margin-top: 0;
  }
  .sub .ci-bi .represt ul.color-notice li:last-child {
    margin-top: 35px;
  }
  .sub .ci-bi .represt .img {
    padding: 44px 0;
  }
  .sub .ci-bi .represt .img img {
    max-width: 100%;
    padding: 0 20%;
  }
  .sub .ci-bi .bg {
    height: 200px;
  }
  .sub .ci-bi .logo-list li .img {
    height: 164px;
    line-height: 164px;
  }
  .sub .ci-bi .logo-list li {
    width: 100%;
    flex: none;
    margin-left: 0;
    margin-top: 35px;
  }
  .sub .ci-bi .logo-list li:first-child {
    margin-top: 0;
  }
  .sub .ci-bi .wordmark-img {
    padding: 40px;
  }
  .sub .ci-bi .wordmark-img > div {
    width: 100%;
    margin-top: 65px;
  }
  .sub .ci-bi .wordmark-img .big-img {
    width: 100%;
  }
  .sub .ci-bi .wordmark-img .mini-img {
    margin-left: 0;
    margin-top: 40px;
  }
  .sub .ci-bi .wordmark-img img {
    max-width: 100%;
  }
  .sub .ci-bi .wordmark-img > div:last-child .mini-img {
    margin-left: 0;
  }
  .sub .ci-bi .logo-list.slogan .img img {
    padding: 0 20%;
    max-width: 100%;
  }
  .sub .ci-bi .logo-list.slogan .img {
    height: 164px;
    line-height: 164px;
  }
  .sub .ci-bi .color-list {
    flex-wrap: wrap;
  }
  .sub .ci-bi .color-list li {
    flex: none;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .sub .ci-bi .color-tit {
    position: absolute;
    left: 135px;
    top: 15px;
  }
  .sub .ci-bi .color-tit {
    width: 100%;
  }
  .sub .ci-bi .color-list li:first-child {
    margin-top: 0;
  }
  .sub .ci-bi .color-img {
    width: 110px;
    height: 110px;
  }
  .sub .ci-bi .color-list .infor {
    width: calc(100% - 110px);
    padding-left: 25px;
    padding-top: 45px;
  }
  .sub .ci-bi .color-list p {
    line-height: 18px;
  }

  .sub.sub01-5 .txt {
    width: 100%;
  }
  .sub.sub01-5 .show-map {
    position: static;
    width: 100%;
    margin-top: 30px;
  }
  .sub.sub01-5 .img {
    margin-top: 40px;
    width: 100%;
  }
  .sub.sub01-5 .img img {
    max-width: none;
    width: 100%;
  }

  .sub .business .img {
    border-radius: 10px;
  }
  .sub .business .out-img {
    border-radius: 0;
  }
  .sub .business .pc-energy-img {
    display: none;
  }
  .sub .business .mo-energy-img {
    display: block;
  }

  .sub.sub02-2 .dist-solution-img .dist-tit {
    margin-left: 0;
    margin-bottom: 15px;
  }
  .sub.sub02-2 .dist-solution-img p {
    margin-left: 0;
  }
  .sub.sub02-1-1 .electronic-car:before {
    background-position-x: calc(100% - 35%);
  }
  .sub.sub02-1-1 .energy .pc-graph {
    display: none;
  }
  .sub.sub02-1-1 .energy .mo-graph {
    display: block;
  }
  .sub.sub02-2 .dist-solution-img {
    background: #e9ecf1 url('/public/img/sub/dist-mo-img.png') no-repeat center
      bottom 5% / contain;
    padding-top: 50px;
    padding-bottom: 60%;
  }
  .sub.sub02-2 .dist .dist-list {
    display: block;
    margin-top: 10px;
  }
  .sub.sub02-2 .dist .dist-list li {
    margin-bottom: 10px;
    margin-right: 0;
    border-radius: 15px;
  }
  .sub.sub02-2 .dist .dist-list li .img-box img {
    width: 47px;
  }
  .sub.sub02-2 .drive .drive-list {
    flex-wrap: wrap;
  }
  .sub.sub02-2 .drive .drive-list li {
    width: 49%;
    flex: auto;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .sub.sub02-2 .drive .drive-list li:nth-child(2n) {
    margin-right: 0;
  }

  .sub .list-top .sh-box {
    width: 100%;
    padding-bottom: 70px;
  }
  .sub .list-top .sh-box input {
    width: 100%;
  }
  .sub .list-top .t-ver {
    position: absolute;
    top: 70px;
    left: 0;
  }
  .sub .list-top select {
    width: 100%;
    margin-bottom: 75px;
  }

  .sub.sub03 .table-4 .tr {
    grid-template-columns: 100px 2fr;
  }
  .sub.sub03 .table-3 .tr {
    grid-template-columns: 100px 2fr 2fr;
  }
  .sub.sub03 .table-2 .tr {
    grid-template-columns: 100px 2fr;
  }

  .sub.sub03 .list-top {
    margin: 0 -20px;
    padding: 0 20px;
  }
  .sub.sub03 .list-top .t-ver {
    left: 20px;
  }

  .sub.sub03 .gh-boxwrap {
    flex-wrap: wrap;
  }
  .sub.sub03 .gh-boxwrap > div {
    flex: none;
    width: 100%;
    margin-left: 0;
  }
  .sub.sub03 .tb-wrap .unit {
    font-size: 13px;
    top: -40px;
  }
  .sub.sub03 .tb-wrap .scroll {
    overflow-x: scroll;
  }
  .sub.sub03 .tb-wrap .scroll table {
    width: 750px;
  }

  .sub.sub03 .con3-list-box {
    margin: 0 -20px;
  }
  .sub.sub03 .con3-list-box .tit {
    width: 100%;
    display: block;
    margin-left: 0;
    padding-left: 0;
    margin-top: 5px;
    line-height: 25px;
  }
  .sub.sub03 .con3-list-box .tit:before {
    display: none;
  }

  .sub .list-top {
    padding-bottom: 0;
  }
  .sub.sub04 .con4-list-box p {
    display: none;
  }
  .sub.sub04 .con4-list-box a {
    flex-wrap: wrap;
    padding: 40px 0;
  }
  .sub.sub04 .con4-list-box .img {
    width: 100%;
  }
  .sub.sub04 .con4-list-box .img img {
    width: 100%;
  }
  .sub.sub04 .con4-list-box .text {
    margin-left: 0;
    margin-top: 30px;
  }
  .sub.sub04 .con4-list-box .tit-wrap {
    margin-bottom: 0;
  }

  .sub.sub04 .media-list ul {
    flex-wrap: wrap;
  }
  .sub.sub04 .media-list.media-slide ul {
    flex-wrap: nowrap;
  }
  .sub.sub04 .media-list ul li {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }
  .sub.sub04 .media-list ul li:first-child {
    margin-top: 0;
  }

  .sub.sub05 .title {
    background: url('/public/img/sub/sub05-1-img4-mo.jpg') 70% bottom;
    padding: 79px 0 292px;
    background-size: cover;
  }
  .sub.sub05 .ideal-list {
    display: block;
    margin: 20px 0 40px;
  }
  .sub.sub05 .ideal-list li {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .sub.sub05 .btn {
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    width: 210px;
  }

  /* .sub.sub05 .ideal-list li{flex-wrap: wrap;}
   .sub.sub05 .ideal-list li > div{flex: none;}
   .sub.sub05 .ideal-list .txt{padding-left: 0; margin-top: 30px; width: 100%;}
   .sub.sub05 .ideal-list .img{width: 100%; border-radius: 15px; padding-bottom: 50%;}
   .sub.sub05 .ideal-list .list02 .txt{order: 1; padding-right: 0;} */

  .sub.sub06 .term {
    margin-top: 50px;
    flex-wrap: wrap;
  }
  .sub.sub06 .file .file-choice {
    width: 100%;
  }
  .sub.sub06 .file .upload-name {
    display: block;
    margin-left: 0 !important;
    margin-top: 20px;
    text-align: center;
  }
  .sub.sub06 .file .upload-name.on {
    text-align: left;
  }
  .sub.sub06 .write {
    margin-top: 20px;
  }

  .sub.sub06 .cont02 {
    margin-top: 32px;
    padding: 40px 0 48px;
  }
  .sub.sub06 .cont02 .write {
    width: 320px;
  }
  .sub.sub06 .cont02 .write .input-wrap:nth-child(2) {
    margin: 20px 0 0 0;
  }
  .chk_btn {
    padding: 16px 0;
    font-size: 14px;
  }
  .sub.sub06 .write li {
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .sub.sub06 .write .input-wrap {
    flex: none;
    width: 100%;
    margin-left: 0;
  }
  .sub.sub06 .write .input-wrap + .input-wrap {
    margin-top: 20px;
  }

  .mBr {
    display: block;
  }
  .sub .content {
    padding: 50px 0 60px;
  }
  .qa_sub06 .costomer-wp .list-wp {
    width: 100%;
    margin: 40px 0 0 0;
  }
  .sub.sub06 h3 {
    margin-bottom: 40px;
    line-height: 1.5;
  }
  .sub.sub06 .tab_box a {
    padding: 16px 0;
    font-size: 16px;
  }
  .qa_sub06 .view-wp .ttl-wp > p {
    margin-top: 42px;
    font-size: 30px;
    line-height: 44px;
  }
  .qa_sub06 .view-wp .ttl-wp .info p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 17px;
  }
  .qa_sub06 .costomer-wp .list-top {
    font-size: 14px;
  }
  .qa_sub06 .costomer-wp .list {
    margin-top: 30px;
  }
  .qa_sub06 .costomer-wp .inquiry-list li {
    position: relative;
  }
  .qa_sub06 .costomer-wp .inquiry-list li a {
    padding: 30px 20px 70px 20px;
  }
  .qa_sub06 .costomer-wp .inquiry-list li .name {
    width: auto;
    margin-right: 10px;
    font-size: 14px;
  }
  .qa_sub06 .costomer-wp .inquiry-list li p {
    width: auto;
    font-size: 14px;
  }
  .qa_sub06 .costomer-wp .inquiry-list li h2 {
    position: absolute;
    bottom: 35px;
    width: auto;
  }
  .qa_sub06 .costomer-wp .inquiry-list li h2 span {
    width: auto;
  }
  .qa_sub06 .costomer-wp .inquiry-list li h3 {
    width: auto;
    margin-right: 20px;
    font-size: 14px;
  }

  .qa_sub06 .view-wp .nav-wp {
    margin-top: 40px;
  }
  .qa_sub06 .view-wp .nav-wp .arrow span {
    display: none;
  }
  .qa_sub06 .view-wp .nav-wp .list {
    width: 140px;
    height: 50px;
    font-size: 14px;
  }
  
 /* 사이버 신문고 */
  .report h4{
    margin-bottom: 15px;
    font-size: 22px;
   }
   .report01 div{
    flex-direction: column;
   }
   .report01 p{
    font-size: 14px;
   }
   .report01 img{
    width: 16px;
    height: 16px;
   }
   .report01, .report02{
    margin-bottom: 40px;
   }
   .report02 ul{
    padding: 30px 20px;
    gap: 10px;
   }
   .report02 li{
    width: auto;
   }
   .report03 .report_box{
    font-size: 15px;
   }
   .report03 .report_box p{
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.6;
   }
   .report .report_btn button{
    width: 120px;
    height: 40px;
    font-size: 14px;
   }  

  /* .sub.sub06 .write li{flex-wrap: wrap; margin-top: 20px;}
   .sub.sub06 .write .input-wrap{flex: none; width: 100%; margin-left: 0;}
   .sub.sub06 .write .input-wrap+.input-wrap{margin-top: 20px;} */

  footer .copy {
    width: 100%;
    margin-top: 25px;
  }
  footer .family-link {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .mo-br {
    display: block;
  }
  .sub .nav-slide ul {
    width: 100%;
    align-items: center;
  }
  .main .con8 {
    background-size: 288%;
    background-position-x: calc(100% - 41%);
    background-color: #0a0a0a;
  }
  /*.sub.sub02-1-1 .nav-slide-wrap .swiper-slide{width: 20%;}*/
  .sub.sub02-2 .drive .drive-list2 li {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 570px) {
  .sub.sub01-3 .t-wrap .time-list {
    margin-top: 44px;
  }
  .sub.sub02-2 .dist-solution-img {
    padding-bottom: 80%;
  }
  .sub .view-control .btn-wrap {
    width: 100%;
  }
  .sub .view-control .btn-wrap a {
    width: 100%;
  }
  .sub .view-control .apply-btn {
    margin-left: 0;
    margin-top: 10px;
  }
  .sub .nav-slide-wrap .swiper-slide a {
    flex-direction: column;
  }

  footer .privacy {
    flex-direction: column;
    width: 100%;
  }
  footer .privacy li {
    margin-top: 25px;
  }
  footer .privacy li:first-child {
    margin-top: 0;
  }
  footer .privacy li a {
    padding-left: 0;
    margin-left: 0;
  }
  footer .privacy li a:before {
    display: none;
  }
  footer .fm {
    position: relative;
    right: initial;
    width: 100%;
    border-bottom: 1px #121212 solid;
    padding-bottom: 15px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 435px) {
  .main .video-wrap .main-video-pc {
    display: none;
  }
  .main .video-wrap .main-video-mo {
    display: block;
    object-position: right;
  }
  .main .con2 .intro .visual .con2-video-pc {
    display: none;
  }
  .main .con2 .intro .visual .con2-video-mo {
    display: block;
  }
  .main .con2 .intro .visual video {
    object-position: 35%;
  }
  .con3 .container {
    height: 100vh;
  }
  .main .con3 .mobile-show .swiper-slide {
    background-position-y: bottom !important;
    background-size: 250% auto !important;
  }
  .main .con5 .con5-video .con5-video-pc {
    display: none;
  }
  .main .con5 .con5-video .con5-video-mo {
    display: block;
  }
  .main .con5 .control {
    top: 51%;
  }
  .main .con6 .con6-video-pc {
    display: none;
  }
  .main .con6 .con6-video-mo {
    display: block;
  }
  .main .con8 ul {
    width: 100%;
    justify-content: space-between;
  }

  .sub.sub02-2 .dist-solution-img {
    background-size: 100% auto;
    background-position: center bottom 20%;
    padding-bottom: 100%;
  }
  .sub.sub06 .term .agree {
    width: 100%;
  }
  .sub.sub06 .term a {
    display: inline-block;
    margin-left: auto;
    margin-top: 20px;
  }
}
