/*-------------------------------------------------------------------
    파일정의 : 초기화 스타일
    속성순서 : Display > Position > Box Model > Design > Paragraph

-------------------------------------------------------------------*/
.text_blind{font-size: 0; text-indent: -9999;}
html,body{width: 100%;}
/* 초기화 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, select, textarea,
fieldset, form, label, legend, fieldset,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Pretendard', sans-serif;
	font-style: normal;
	font-size: 100%;
	line-height: 1;
	list-style: none;
	text-decoration: none;
	border-collapse:collapse;
}

p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {text-decoration:none;color:#000;}
a:link, a:visited{text-decoration:none}
a:hover{text-decoration:none}
strong{font-weight:600;}
img{vertical-align: middle;}

*, :after, :before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

img{outline:0;}
input,select,button,textarea{padding: 0;appearance:none;-webkit-appearance:none;-moz-appearance:none;font-family: 'Pretendard', sans-serif;}
button{border: 0;background: transparent;box-shadow: none;font-family: 'Pretendard', sans-serif;}
input[type="submit"], input[type="button"], input[type="reset"], button {cursor:pointer}
select::-ms-expand {display: none;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */ color:#999;}
input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:#999;}
input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */ color:#999;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10+ */ color:#999;}

/* library */
.bl0{border-left: 0 !important;}
.fb{font-weight: bold !important;}
.hidden{overflow: hidden;position: absolute;width: 1px;height: 1px;margin: 0;font-size: 0;line-height: 0;clip: rect(0,0,0,0)}
.shidden{overflow: hidden;position: absolute;width: 1px;height: 1px;margin: 0;font-size: 0;line-height: 0;clip: rect(0,0,0,0)}
.lt{float:left}
.rt{float:right}
.tal{text-align:left !important}
.tac{text-align:center !important}
.tar{text-align:right !important}
.taj{text-align:justify !important}
.vam{vertical-align:middle !important}
.vat{vertical-align:top !important}
.vab{vertical-align:bottom !important}
.clear{clear:both;}
.mt0{margin-top:0 !important;}
.mb0{margin-bottom:0 !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}
.mt55{margin-top:55px !important;}
.mt60{margin-top:60px !important;}
.mt65{margin-top:65px !important;}
.mt70{margin-top:70px !important;}
.mt75{margin-top:75px !important;}
.mt120{margin-top:120px !important;}
.mb75{margin-bottom:75px !important;}
.p0{padding: 0 !important;}
.pt0{padding-top: 0 !important;}
.pl40{padding-left: 40px !important;}
.pr40{padding-right: 40px !important;}
.pb0{padding-bottom: 0 !important;}
.pb70{padding-bottom:70px !important;}